<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { background-color: #111; color: #fff; } 
        main { padding: 16px; }
        a { display: block; }
	    h1 { margin-bottom: 1em; }
	    h2 { margin-top: 1em; margin-bottom: 0.5em; }
	    p { line-height: 1.25; min-height: 0.75em; }
	    pre { font-family: monospace; border: 1px solid #ccc; }
    </style>
</head>

<body>
    <main>
        <h1>{{ .Title }}</h1>
        {{- range .Nodes }}
        {{ .HTML }}
        {{- end }}
    </main>
</body>

</html>