<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Header.Name }}</title>
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; color: inherit; font-family: inherit; }
        body { background-color: #111; color: #ccc; font-family: sans-serif; } 
        main { padding: 16px; max-width: 110ch; margin: 0 auto; }
        main #top { padding-bottom: 24px; margin-bottom: 24px; border-bottom: 1px solid #ccc; }
        main #top #date, main #top #tags { color: #aaa; }
        main a { margin-top: 0.5em; display: block; }
        main ul { margin: 0.5em 0 1em; list-style-position: inside; }
        main ul li { margin: 0.25em 0; }
	    main h1 { margin: 1.5em 0 1em; color: #fff; }
	    main h2 { margin: 2em 0 0.5em; color: #eee; }
	    main p { margin-top: 16px; font-size: 100%; line-height: 1.5; min-height: 0.75em; }
	    main pre { padding: 8px; font-family: monospace; color: #eee; overflow-x: auto; }
	    main .pre-block, main .pre-line {
            margin: 8px 0 16px;
            background-color: #222;
            border-radius: 8px;
            max-width: max-content;
            background-color: #333;
            border-radius: 8px;
        }
	    main .pre-line pre { padding: 8px; }
	    main .pre-line { display: flex; gap: 16px; padding: 8px; }
	    main .pre-block .meta {
            padding: 8px;
            display: flex;
            align-items: baseline;
            gap: 16px;
            color: #999;
            background-color: #444;
            border-radius: 0 0 8px 8px;
        }
	    main .pre-block button,
	    main .pre-line button {
            cursor: pointer;
            border: none;
            background-color: transparent;
            margin-left: auto;
            padding: 8px;
            border-radius: 8px;
            background-color: #555;
        }
	    main button:active { text-decoration: underline; }
    </style>
</head>

<body>
    <main>
        {{ .Header.HTML }}

        {{- range .Body.Nodes }}
        {{ .HTML }}
        {{- end }}
    </main>

    <script>
        document.querySelectorAll(".pre-block").forEach(el => {
            if (!navigator.clipboard) return;
            const text = el.querySelector("pre").innerText;
            const btn = el.querySelector("button")
            btn.onclick = e => {
                navigator.clipboard.writeText(text);
                console.log("Copied to clipboard");
            };
        })
    </script>
</body>

</html>